.house-view {
  @include position(relative);
  margin-bottom: 2.785rem;
  &__prop-no {
    color: rgba(#4A4A4A, 1);
    line-height: 1.6rem;
    font-size:0.875rem;
    & > span {
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
    }
    //clearfix
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }
  &__desc {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin: 0.75rem 0;
    color: #999999;
  }
  &__info {
    color: rgba(#4A4A4A, 1);
    line-height: 1.6rem;
    font-size:0.875rem;
    & > span {
      font-size: 0.5em;
      vertical-align: super;
    }
  }
  &__fav {
    @include position(absolute, $top: 1.2rem, $right: 1.15rem);
    color: rgba(#fff, 1);
    font-size: 1.75rem;
  }
}